:root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-base: 15px;
    --font-size-lg: 16px;
    --font-size-xl: 20px;
    --font-size-2xl: 35px;
  
    /* Colors */
    --color-gray-100: #fefffe;
    --color-gray-200: #010001;
    --color-gray-300: rgba(0, 0, 0, 0.4);
    --color-black: #000;
    --color-antiquewhite: #f1dbce;
    --color-honeydew: rgba(202, 226, 210, 0.25);
    --color-mistyrose: rgba(241, 215, 206, 0.25);
    --color-gainsboro-100: #e6dbe0;
    --color-gainsboro-200: rgba(230, 219, 224, 0.4);
  
    /* Paddings */
    --padding-xs: 2px;
    --padding-sm: 8px;
    --padding-md: 10px;
    --padding-lg: 18px;
  
    /* border radiuses */
    --br-sm: 15px;
    --br-md: 20px;
  }
  