body {
  margin: 0;
  line-height: normal;
}
.desktop-1-child {
  position: absolute;
  top: 0;
  left: 146px;
  border-radius: 25px;
  background-color: var(--color-gray-100);
  width: 1269px;
  height: 810px;
  overflow: hidden;
  display: none;
}
.trusted-influencers {
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 101%;
  font-weight: 800;
  font-family: inherit;
  width: 879px;
  height: 57px;
}
.ready-to-help,
.trusted-influencers,
.verified-influencers-to {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.ready-to-help {
  top: 39px;
  left: 2px;
  font-size: 38px;
  line-height: 101%;
  font-weight: 700;
  font-family: inherit;
  width: 879px;
  height: 53px;
}
.verified-influencers-to {
  top: 82px;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 300;
  width: 679px;
  height: 24px;
}
.headline {
  position: absolute;
  top: 173px;
  left: 166px;
  width: 881px;
  height: 106px;
  font-size: 40px;
  color: var(--color-gray-200);
}
.filters-card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: #f0f5fb;
}
.sub-slider-icon {
  position: absolute;
  height: 4.86%;
  width: 95.23%;
  top: 81.01%;
  right: 1.59%;
  bottom: 14.13%;
  left: 3.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.subscriber-count1 {
  position: absolute;
  height: 37.27%;
  width: 95.23%;
  top: 0;
  left: 4.77%;
  font-weight: 500;
  display: inline-block;
}
.subscriber-count-child,
.subscriber-count-item {
  position: absolute;
  height: 31.4%;
  width: 6%;
  top: 68.6%;
  right: 94%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.subscriber-count-item {
  right: 0.04%;
  left: 93.96%;
}
.subscriber-count {
  position: absolute;
  height: 8.94%;
  width: 86.24%;
  top: 86.94%;
  right: 8.58%;
  bottom: 4.12%;
  left: 5.17%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.keyword-box {
  border: 0;
  background-color: var(--color-gray-100);
  position: absolute;
  height: 42.67%;
  width: 99.6%;
  top: 57.33%;
  right: 0.4%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  font-family: var(--font-poppins);
  
  /* bitch i corrected this */
}
.keywords1,
.specific-niche-in {
  position: absolute;
  height: 30.67%;
  display: inline-block;
}
.specific-niche-in {
  width: 96.37%;
  top: 61.33%;
  left: 3.63%;
}
.keywords1 {
  width: 95.97%;
  top: 0;
  left: 3.23%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-gray-200);
}
.keywords {
  top: 20.62%;
  bottom: 68.51%;
}
.keywords,
.language,
.location {
  position: absolute;
  height: 10.87%;
  width: 85.22%;
  right: 7.9%;
  left: 6.88%;
}
.location {
  top: 42.72%;
  bottom: 46.41%;
}
.language {
  top: 64.83%;
  bottom: 24.3%;
}
.filters {
  position: absolute;
  height: 5.8%;
  width: 57.04%;
  top: 2.61%;
  left: 7.22%;
  font-size: var(--font-size-2xl);
  display: inline-block;
  color: var(--color-gray-200);
}
.filters-card {
  position: absolute;
  height: 45.18%;
  width: 20.14%;
  top: 14.64%;
  right: 3.26%;
  bottom: 40.19%;
  left: 76.6%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
}
.search,
.search-bar-child {
  cursor: pointer;
  position: absolute;
}
.search-bar-child {
  border: 0;
  padding: 0;
  background-color: #fff;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  width: 395px;
  height: 45px;
}
.search {
  top: 9px;
  left: 37.16px;
  display: inline-block;
  width: 95.48px;
  height: 23px;
}
.icon-search,
.search-bar {
  position: absolute;
  top: 12.33px;
  left: 10.29px;
  width: 23.83px;
  height: 19.06px;
}
.search-bar {
  top: 28px;
  left: 168px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
  width: 395px;
  height: 45px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.kimaya-a {
  position: absolute;
  top: 19px;
  right: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 140px;
  height: 23px;
}
.user-id-child {
  position: absolute;
  top: 0;
  right: 158px;
  width: 58px;
  height: 58px;
  object-fit: cover;
}
.icon-suitcase,
.user-id {
  position: absolute;
  top: 15.84px;
  right: 233.98px;
  width: 34.38px;
  height: 26.16px;
}
.user-id {
  top: 21px;
  right: 48.02px;
  width: 268.36px;
  height: 58px;
  font-size: 25px;
  color: var(--color-gray-200);
}
.influencer-card-1-child {
  position: absolute;
  height: 86.73%;
  width: 101.05%;
  top: 13.27%;
  right: 0;
  bottom: 0;
  left: -1.05%;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew);
}
.influencer-card-1-item {
  position: absolute;
  top: calc(50% - 196px);
  left: calc(50% - 65.5px);
  width: 128px;
  height: 116px;
  object-fit: cover;
}
.subscribers {
  position: absolute;
  top: 200px;
  left: calc(50% - 45.5px);
}
.marketing {
  position: relative;
}
.money-wrapper,
.tag,
.tag1 {
  position: absolute;
  border-radius: var(--br-sm);
  background-color: var(--color-antiquewhite);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.tag {
  top: 247px;
  left: 103px;
}
.tag1 {
  top: 248px;
  left: 12px;
}
.money-wrapper {
  top: 0;
  left: 0;
}
.tag2 {
  position: absolute;
  top: 281px;
  left: 12px;
  width: 70px;
  height: 27px;
}
.see-more-button {
  position: absolute;
  bottom: 21px;
  left: calc(50% - 57.5px);
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
}
.alex-hormozi {
  top: 100px;
  left: calc(50% - 67.5px);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.alex-hormozi,
.alexhormozi,
.k {
  position: absolute;
}
.alexhormozi {
  top: 122px; 
  left: calc(50% - 59.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.k {
  top: 160px;
  left: calc(50% - 40.5px);
  font-size: var(--font-size-2xl);
}
.influencer-card-1 {
  position: absolute;
  height: 33.16%;
  width: 19.93%;
  top: 26.65%;
  right: 25%;
  bottom: 40.19%;
  left: 55.07%;
  overflow: hidden;
}
.frame-child {
  position: absolute;
  max-height: 88.08%;
  max-width: 100%;
  top: 12.44%;
  right: 0;
  bottom: -0.52%;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gainsboro-200);
  
}
.frame-item {
  position: absolute;
  top: calc(50% - 193px);
  left: calc(50% - 64px);
  max-width: 128px;
  max-height: 114px;
  object-fit: cover;
}
.subscribers1 {
  position: absolute;
  top: 198px;
  left: calc(50% - 44px);
}
.tag3,
.tag4 {
  position: absolute;
  top: 247px;
  left: 10px;
  border-radius: var(--br-sm);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.tag4 {
  left: 91px;
}
.tag5 {
  top: 280px;
  left: 10px;
}
.tag5,
.tag6,
.tag7 {
  position: absolute;
  border-radius: var(--br-sm);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.tag6 {
  top: calc(50% + 54px);
  left: 198px;
}
.tag7 {
  top: 280px;
  left: 103px;
}
.see-more-button-child {
  position: absolute;
  bottom: 0;
  left: calc(50% - 56px);
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 112px;
  height: 41px;
}

.see-more1 {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 38px);
  display: flex;
  align-items: center;
  width: 75px;
}
.see-more-button1 {
  position: absolute;
  bottom: 16px;
  left: calc(50% - 56px);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
  width: 112px;
  height: 41px;
  font-size: var(--font-size-lg);
}
.kunal-kushwaha,
.kunalkushwaha {
  position: absolute;
  top: 98px;
  left: calc(50% - 86px);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.kunalkushwaha {
  top: 120px;
  left: calc(50% - 74px);
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.k1 {
  position: absolute;
  top: 158px;
  left: calc(50% - 39px);
  font-size: var(--font-size-2xl);
}
.rectangle-parent {
  position: absolute;
  height: 32.66%;
  width: 20.14%;
  top: 61.51%;
  right: 25.07%;
  bottom: 5.84%;
  left: 54.79%;
  overflow: hidden;
}
.frame-inner {
  position: absolute;
  height: 88.08%;
  width: 100%;
  top: 11.92%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-mistyrose);
}
.ellipse-icon {
  position: absolute;
  top: calc(50% - 193px);
  left: calc(50% - 64px);
  width: 128px;
  height: 112px;
  object-fit: cover;
}
.subscribers2 {
  position: absolute;
  top: 196px;
  left: calc(50% - 44px);
}
.tag10,
.tag8,
.tag9 {
  position: absolute;
  border-radius: var(--br-sm);
  background-color: var(--color-antiquewhite);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.tag8,
.tag9 {
  top: 243px;
  left: 12px;
}
.tag9 {
  left: 119px;
}
.tag10 {
  top: 275px;
  left: 12px;
}
.see-more-button2 {
  position: absolute;
  bottom: 18px;
  left: calc(50% - 62px);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
  width: 112px;
  height: 41px;
  font-size: var(--font-size-lg);
}
.shwetabh-gangwar {
  position: absolute;
  top: 96px;
  left: calc(50% - 101px);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.shwetabhgangwar1 {
  position: absolute;
  top: 30.57%;
  left: 19.31%;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.m {
  position: absolute;
  top: 156px;
  left: calc(50% - 40px);
  font-size: var(--font-size-2xl);
}
.rectangle-group {
  position: absolute;
  top: 61.68%;
  right: 3.33%;
  bottom: 5.67%;
  left: 76.53%;
  overflow: hidden;
}
.frame-div,
.rectangle-group {
  height: 32.66%;
  width: 20.14%;
}
.frame-div,
.influencer-card-11 {
  position: absolute;
  overflow: hidden;
}
.rectangle-container {
  top: 26.99%;
  right: 46.53%;
  bottom: 40.36%;
  left: 33.33%;
}
.rectangle-container,
.rectangle-parent1 {
  position: absolute;
  height: 32.66%;
  width: 20.14%;
  overflow: hidden;
}
.frame-div {
  top: 26.9%;
  right: 68.26%;
  bottom: 40.44%;
  left: 11.6%;
}
.influencer-card-11 {
  bottom: 5.84%;
}
.rectangle-parent1 {
  top: 61.51%;
  right: 68.33%;
  bottom: 5.84%;
  left: 11.53%;
}
.influencer-card-11 {
  height: 33.16%;
  width: 19.93%;
  top: 61%;
  right: 46.81%;
  left: 33.26%;
}
.navigation-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 55px;
  background-color:black;
  width: 95px;
  height:140.5%;
}
.navigation-child2 {
  position: absolute;
  top: 135%;
  left: 43px;
  border-radius: 55px;
  background-color:black;
  width: 10px;
  height:15%;
}
.vector-icon {
  position: absolute;
  top: 274px;
  left: 46px;
  width: 31.89px;
  height: 31.96px;
  opacity: 0;
}
.group-icon,
.icon-home {
  position: relative;
  top: 2.67px;
  left: 3.99px;
  width: 23.92px;
  height: 26.63px;
}
.icon-home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 162px;
  left: 32px;
  width: 31.89px;
  height: 31.96px;
}
.icon-light-bulb,
.vector-icon1 {
  position: absolute;
  width: 29.89px;
  height: 29.96px;
}
.vector-icon1 {
  top: 0;
  left: 0;
}
.icon-light-bulb {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 383.92px;
  left: 33.99px;
}
.icon-box,
.vector-icon2 {
  position: absolute;
  width: 26.9px;
  height: 26.97px;
}
.vector-icon2 {
  top: 0;
  left: 0;
}
.icon-box {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 493.89px;
  left: 35.99px;
}
.group-icon1,
.icon-people-team {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.89px;
  height: 27.82px;
}
.icon-people-team {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 603px;
  left: 33.99px;
}
.group-icon2,
.icon-market-stall {
  position: absolute;
  top: 0;
  left: 0;
  width: 28.96px;
  height: 29.96px;
}
.icon-market-stall {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 273.96px;
  left: 33px;
}
.navigation {
  position: fixed;
  top: 12px;
  left: 10px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); */
  width: 95px;

  height: 68.5%;
}
.desktop-1 {
  position: relative;
  border-radius: 40px;
  background-color: var(--color-gray-100);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25); */
  width: 100%;
  height: 1182px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
/*slider bar=====================================*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}